* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width:35%;
    height: 135px;
    background-color: rgb(231, 231, 231);
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}
.item{
    background-color: rgb(55, 244, 55);
    color: white ;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex ;
}