h3{
    display: inline;
}
hr{
    border: 1.5px solid orangered;
    width: 23%;
    margin-left: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-top: none;
    border-bottom: none;

}
/* td{
    /* width: 250px; */
    /* height: auto; */

img{
    width: 200px;
    height: 200px;
}
.opacity{
    opacity: 0.6;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    background-color: white;
    color: red;
    border-color: red;
}