.btn{
    background-color: orangered;
}
.btn:hover{
    background-color: orangered;
}
.dropdown-item:hover{
    background-color: blue;
    color: white;
}

.dropdown-menu{
    background-color: orangered;
}







