* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: black;
    width: 1440px;
    height: 48px;
    color: white;
    display: flex;
    flex-direction: row;
}

.header .row {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 12px;
    left: 445px;
    gap: 231px;
}


.header .row .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header .row .title span {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;

}

.header .row .title a {
    width: 68;
    height: 24;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

}


.header a:visited {
    color: white;
}

.header .language {
    width: 78px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: black;
    color: white;
}

.header .language p {
    width: 49;
    height: 21;

}


.header .language button {
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border: none;
}

/* -----body----- */
.body {}

.body .body1 {
    width: 1170px;
    height: 38px;
    position: relative;
    top: 88px;
    left: 135px;
    display: flex;
    gap: 130px;
}

.body1 .father {
    width: 645px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 160px;
}

.body1 .father .son1 h2 {
    width: 118px;
    height: 24px;
    font-size: 24;
    letter-spacing: 3;
}

.body1 .father .son2 {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.body1 .father .son2 a {
    width: 60px;
    height: 24px;
    text-decoration: none;
}

.body1 .mother {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.body1 .mother .search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 20px;
    padding-bottom: 7px;
}

.body1 .mother .search input {
    border: none;
    outline: none;
}

/* .body1 .mother .search i{
    width: 24px;
    height: 24px;
} */

.body1 .mother .icon {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.body1 .mother .icon button {
    width: 32px;
    height: 32px;
    /* background-color: white; */
    border: none;
}

.body1 .mother .icon .icon_chil {
    width: 32px;
    height: 32px;
    background-color: white;
}

.body1 .mother .icon .user {
    color: black;
    width: 32px;
    height: 32px;
    border: none;
    background-color: orangered;
    border-radius: 50%;

}

hr {
    width: 1440px;
    height: 0px;
    position: relative;
    top: 142px;
}

.body2 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.body2 .father {
    width: 155;
    height: 21;
    position: relative;
    top: 222px;
    left: 135px;
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.opacity {
    opacity: 0.6;
}

.strong {
    font-weight: bold;
}

.body2 .mother {
    width: 139;
    height: 21;
    position: relative;
    top: 222px;
    left:966px;
    /* top: 222px;
    left: 1166px; */

}
.name_user{
    color: red;
}