.container {
    width: 810px;
    height: 890px;
    background-color: rgb(163, 163, 162);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

.block {
    display: block;
    width: 40px;
    border-radius: 10px;
    padding-left: 5px;
    background-color: rgb(5, 38, 110);
    color: white;
}

.inline {
    display: inline-block;
}

.opacity {
    opacity: 0.6;
}
.grandfather{
    position: relative;
    left: 20px;
}

.father {
    display: flex;
}

.son {
    position: relative;
    left: 30px;
}

hr {
    border: 2px solid white;
    width: 95%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: end;
}