.border{
    background-color: rgb(237, 237, 237);
    width: 435px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
}
.theboxing{
    width: 400px;
    height: 500px;
    position: relative;
    left: 20px;
    top: 10px;
    border-radius: 5px;
}
.therock{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
button{
    position: absolute;
    background-color: black;
    color: white;
    border-color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    left: 280px;
    top: 30px;
}
.profile{
    display: flex;
}
.therock{
    position: relative;
    left: 10px;
    top: 10px;
}
.text{
    position: relative;
    left: 40px;
    top: 45px;
}
.opacity{
    opacity: 0.6;
    position: relative;
    left: 10px;
}
h3{
    position: relative;
    left: 10px;
}